@charset UTF-8

 		body{background-color: #F6F6F6}
        main{width: 955px; background: #FFF; margin:-1px auto 10px; font-family:Arial, Helvetica, sans-serif;border: 1px solid #ddd; box-shadow: 1px 1px 1px #ddd}

        header{padding: 0px; height: 95px; box-shadow: 1px 1px 1px #ddd}

        nav{width: 955px; background-color: #5D240A; box-shadow: 1px 1px 1px #ddd}
        nav ul{list-style: none; margin: 0; padding: 4px;}
        nav ul li{display: inline-block;}
        nav ul li a{font-size: 0.85em; text-decoration: none; color: #FFF; padding: 4px 20px}
        nav ul li a:hover{background-color: #B4531A}

        article{width: 580px; float: left; text-align: justify; margin:30px 20px;}
        article h1{font-size:2.6em; margin:0 5px;}
        article h4{font-size:1.6em; margin:0 5px;}

        h1, h2, h4{font-family:Georgia, "Times New Roman", Times, serif; color:#C63; font-style:italic; letter-spacing:-0.05em}
        h5{font-family: "Trebuchet MS", Arial, Helvetica; color: #808080; font-size: 14pt;margin-top: -5px;margin-left: 5px;}
        p, li{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.9em; color:#555; line-height:1.8;}

        div#apoio{float: right;width: 300px; margin-top: 30px; margin-left: 10px;}

        footer{clear: both; padding: 10px; text-align: center; border-top: 1px solid #C63; width: 900px; margin-left: 15px; background-color: #ECECEC; margin-bottom: 10px; height: 75px;}
        footer p{margin-top: -5px;}
        footer a{text-decoration: none; font-family:"Trebuchet MS", Arial, Helvetica; font-style: normal; color: #555; font-size:0.9em}
        footer a:hover{text-decoration: underline;}
        footer small{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #555}

div#formulario {
        float: right;
        width:240px;
        border:1px solid #ddd;
        margin: 20px;
        background-color:#FFF;
        padding:10px 20px;
        border-radius:5px;
}

h4.form {
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:20px;
        font-style:italic;
        letter-spacing:0.25px;
        color:#C63;
        margin: 10px auto;
        text-shadow:1px 1px 2px #666;
}
label{
        font-size: 12px;
        font-family: "Trebuchet MS", Arial, Helvetica;
}
input {
        display:block;
        margin-bottom:20px;
        border:1px solid #999;
        padding:8px;
        border-radius:3px;
}

input:focus {
        border:1px solid #ccc;
        outline:none;
}

input[type=submit] {
        width:100px;
        color:#FFF;
        background:linear-gradient(top, #F33, #933 );
        background:-webkit-linear-gradient(top, #F33, #933 );
        background:-moz-linear-gradient(top, #F33, #933 );
        border:1px solid #333;
        cursor:pointer;
}

fieldset{
        width: 100px;
        height: 50px;
        border: 1px solid #999;
        border-radius: 3px;
        margin-bottom: 10px;
        font-family: "Trebuchet MS", Arial, Helvetica;
        font-size: 14px;
        margin: 15px;
        margin-left: 12px;
        } 

fieldset input{
        float: left;
        width: 10px;
        margin-bottom: 0px;
  }


